header.header
    .header__column
        a(href=routes.home)
            i.fab.fa-youtube-square
    .header__column
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Log In


//- 안에 2개의 열(컬럼)을 추가 할 것임. 왼쪽 열과 오른쪽 열