header.header
    .header__column
        i.fab.fa-youtube-square
    .header__column
        ul
            li
                a(href="#") Join
            li
                a(href="#") Log In


//- 안에 2개의 열(컬럼)을 추가 할 것임. 왼쪽 열과 오른쪽 열