.social-login
    button.social-login--github
        span
            i.fab.fa-github
        | Continue with Github
    button.social-login--facebook
        span
            i.fab.fa-facebook-square
        | Continue with Facebook
//- 깃허브 접속 버튼 만듬
        
        
        
        
        
//- <i class="fab fa-facebook-square"></i>
//- <i class="fab fa-github"></i>