mixin videoPlayer(video = {})
    .videoPlayer#jsVideoPlayer
        video(src=`/${video.src}`)
        .videoPlayer__controls
            .videoPlayer__column
                span#jsVolumnBtn
                    i.fas.fa-volume-up
                span
                    |00:00 / 10:00
            .videoPlayer__column
                span#jsPlayButton
                    i.fab.fa-gitlab
            .videoPlayer__column
                span#jsFullScreen
                    i.fas.fa-expand
//- 위에 주소 뒤에 controls를 붙임으로서 재생이 가능해짐 
//- 뒤에 autoplay 도 가능